@import "tailwindcss";

@theme {
  /* Amazon-style color palette */
  --color-amazon-orange: #FFD814;
  --color-amazon-navbar: #131921;
  --color-amazon-footer: #232F3E;
  
  /* Extend Tailwind colors */
  --color-primary: var(--color-amazon-orange);
  --color-navbar: var(--color-amazon-navbar);
  --color-footer: var(--color-amazon-footer);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}