@import "tailwindcss";

@theme {
  /* Amazon-style color palette */
  --color-amazon-orange: #FFD814;
  --color-amazon-navbar: #131921;
  --color-amazon-subheader: #232F3E;
  
  /* Extend Tailwind colors */
  --color-primary: var(--color-amazon-orange);
  --color-navbar: var(--color-amazon-navbar);
  --color-footer: var(--color-amazon-footer);
}
